:root {
  --badge: {      /* Custom properties set */
    width: 50px;
    height: 50px;
  };
  --color-gold:	#D4AF37;   /* Custom property */
  --color-silver: #C0C0C0;
  --color-bronze: #cd7f32;
}

.badge-gold {
  @apply --badge;                 /* Custom properties set reference */
  background: var(--color-gold);  /* Custom property reference */
}
.badge-silver {
  @apply --badge;
  background: var(--color-silver);
}
.badge-bronze {
  @apply --badge;
  background: var(--color-bronze);
}
